<?xml version="1.0" encoding="utf-8" standalone="no"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:xml="http://www.w3.org/XML/1998/namespace" xml:lang="$lang"
      lang="$lang">
<head>
    <title>$M.tr("epub.make.introTitle")</title>
    <link href="$cssHref" rel="stylesheet" type="text/css"/>
</head>
<body>
    #if($introLegend)
    <h2>$introLegend</h2>
    #else
    <h2>$M.tr("epub.make.introLegend")</h2>
    #end
    #foreach($line in $intro)
    <p class="intro">$line</p>
    #end
</body>
</html>
