@font-face {
    font-family: "zw";
    src: local("宋体"), local("DK-SONGTI");
}

@font-face {
    font-family: "fs";
    src: local("仿宋"), local("DK-FANGSONG");
}

@font-face {
    font-family: "kt";
    src: local("楷体"), local("DK-KAITI");
}

@font-face {
    font-family: "ht";
    src: local("黑体"), local("DK-HEITI");
}

body {
    margin: 0 1.4%;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 1em 0;
    font-family: "ZY-KAITI", "kt", sans-serif;
    font-size: 1.3em;
    text-align: center;
}

p {
    margin: 0.5em 0;
    padding: 0;
    text-align: justify;
}

.cover {
    text-align: center;
}

.cover img {
    width: 100%;
}

.intro h1 {
    font-family: "ZY-XIAOBIAOSONG", "DK-XIAOBIAOSONG", "ZY-KAITI", "kt", serif;
    font-weight: bold;
    text-shadow: 1px 1px 1px #006C6C;
}

.intro p {
    line-height: 120%;
    font-family: "ZY-FANGSONG", "fs", "ZY-KAITI", "kt", serif;
    font-weight: bold;
    text-indent: 2em;
}

.toc h1 {
    color: #005A9C;
}

.toc ol {
    margin: 0;
    padding: 0 1em;
}

.toc li {
    margin: 0.3em 0;
    font-size: 0.97em;
    list-style-type: none;
}

.toc li a {
    text-decoration: none;
}

.toc li span {
    color: #222;
}

.mask {
    margin: 8% 0;
    padding: 0.5em 0.2em;
    border-radius: 0.2em;
}

.section h1 {
    color: #005A9C;
}

.section p {
    line-height: 120%;
    font-family: "ZY-FANGSONG", "fs", "ZY-KAITI", "kt", serif;
    font-weight: bold;
    text-indent: 2em;
}

.chapter h1 {
    color: #CC3333;
}

.chapter .brief p {
    line-height: 120%;
    font-family: "ZY-KAITI", "kt", serif;
    font-size: 0.9em;
    text-indent: 2em;
    color: #0092AA;
}

.chapter .brief hr {
    border: 0 dashed #A2906A;
    border-bottom-width: 1px;
}

.chapter .text p {
    line-height: 130%;
    font-family: "ZY-ZW-SONGTI", "zw", "ZY-KAITI", "kt", serif;
    text-indent: 2em;
}
