@font-face {
    font-family: "zw";
    src: local("DK-SONGTI"),local("宋体");
}

@font-face {
    font-family: "fs";
    src: local("DK-FANGSONG"),local("仿宋");
}

@font-face {
    font-family: "kt";
    src: local("DK-KAITI"),local("楷体");
}

@font-face {
    font-family: "ht";
    src: local("DK-HEITI"),local("黑体");
}

body {
    margin: 0 1.4%;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    line-height: 1.3;
}

h1 {
    margin: 0.8em 0;
    font-family: "ZY-KAITI", "kt", serif;
    font-weight: bold;
    font-size: 1.3em;
    text-align: center;
}

p {
    margin: 0.5em 0;
    padding: 0;
    line-height: 1.8;
    text-align: justify;
}

.cover {
    text-align: center;
}

.cover img {
    width: 100%;
}

.intro h1 {
    font-family: "ZY-XIAOBIAOSONG", "DK-XIAOBIAOSONG", "ZY-KAITI", "kt", serif;
    font-weight: bolder;
    text-shadow: 1px 1px 1px #006C6C;
}

.intro p {
    line-height: 1.3;
    font-family: "ZY-FANGSONG", "fs", "ZY-KAITI", "kt", serif;
    font-weight: bold;
    text-indent: 2em;
}

.toc h1 {
    color: #005A9C;
}

.toc ol {
    margin: 0;
    padding: 0 1em;
}

.toc li {
    margin: 0.3em 0;
    font-size: 0.97em;
    list-style-type: none;
}

.toc li a {
    text-decoration: none;
}

.toc li span {
    color: #222;
}

.mask {
    margin: 8% 0;
    padding: 0.5em 0.2em;
    border-radius: 0.2em;
}

.section h1 {
    color: #005A9C;
}

.section p {
    margin: 0.3em 0;
    line-height: 1.2;
    font-family: "ZY-FANGSONG", "fs", "ZY-KAITI", "kt", serif;
    font-weight: bold;
    text-indent: 2em;
}

.chapter h1 {
    color: #CC3333;
}

.chapter .brief p {
    margin: 0.2em 0;
    line-height: 1.3;
    font-family: "ZY-KAITI", "kt", serif;
    font-size: 0.9em;
    text-indent: 2em;
    color: #0092AA;
}

.chapter .brief hr {
    border: 0 dashed #A2906A;
    border-bottom-width: 1px;
}

.chapter .text p {
    line-height: 1.5;
    font-family: "ZY-ZW-SONGTI", "zw", "ZY-KAITI", "kt", serif;
    text-indent: 2em;
}
